@page "/thank-you"

<PageTitle>Thank you</PageTitle>

<div class="container py-5 text-center thank-you">
    <h1 class="display-4 text-primary mb-4">Thank You!</h1>
    <p class="lead">Your message has been sent successfully. I will get back to you shortly.</p>
    <a class="btn btn-outline-primary mt-3" href="https://yovko-portfolio.onrender.com">Back to Portfolio</a>
</div>

<style>
     .thank-you {
        max-width: 600px;
        margin-top: 100px;
        border: 5px solid #dee2e6;
        border-radius: 10px;
        padding: 40px;
        background-color: #f8f9fa;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    .lead {
        font-size: 1.25rem;
    }
</style>