@inject IJSRuntime JSRuntime

<section id="projects">
    <div class="section-padding">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Gallery</h1>
                <h1 class="position-absolute text-uppercase text-primary">My Projects</h1>
            </div>
            <br />
            <div>
                <div>
                    <div class="owl-carousel project-carousel">

                        <div class="single-project-item">
                            <img src="./images/projects/my-portfolio-web.png" />
                            <br>
                            <p>
                                PotrtFolio Website is a overall journey and a brief overview of my career.
                            </p>
                            <br>
                            <h3>Portfolio <span>Techonlogies used :</span></h3>
                            <div class="tech-stack">
                                <img src="./images/skills/blazor.svg" />
                                <img src="./images/skills/html.png" />
                                <img src="./images/skills/css3.svg" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@code {
    [Parameter, EditorRequired]
    public required ProjectService ProjectService { get; set; }

    private List<Project> projects;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            projects = await ProjectService.GetProjectsAsync();
            int numberOfProjects = projects.Count;
            await JSRuntime.InvokeVoidAsync("initializeOwlCarousel", numberOfProjects);
        }
    }
}
