<div class="container-fluid py-5" id="qualification">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
            <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="mb-4">My Education</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Bachelor In Finance</h5>
                        <p class="mb-2"><strong>University of Plovdiv</strong> | <small>2012 - 2022</small></p>
                        <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod. Eos ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit ipsum stet lorem diam</p>
                    </div>
                </div>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">C# Web Developer</h5>
                        <p class="mb-2"><strong>Software University</strong> | <small>2019 - 2021</small></p>
                        <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod. Eos ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit ipsum stet lorem</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">My Expericence</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Fullstack Developer</h5>
                        <p class="mb-2"><strong>SoftUni BootCamp</strong> | <small>2020 - 2021</small></p>
                        <p>
                            Collaborated with a team of 10 students and a mentor, using Git source control system and applying SCRUM methodology. Throughout the bootcamp we are gaining real practical experience by completing both Backend and Frontend tasks divided in sub-teams. Also we've had the chance to get familiar and apply various Azure services. We've developed various Soft skills such as: Communication; Adaptability; Problem-Solving; Teamwork. The tech stack includes: ASP.NET Core Web API; Azure App Services; Email Sender; SQL Server; Repository Pattern; React JS; HTML & CSS.
                        </p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Software Engineer</h5>
                        <p class="mb-2"><strong>eLando AD</strong> | <small>2021 - Present</small></p>
                        <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod. Eos ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit ipsum stet lorem diam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}