<div class="container-fluid py-5" id="qualification">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
            <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="mb-4">My Education</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Bachelor In Finance</h5>
                        <p class="mb-2"><strong>University of Plovdiv</strong> | <small>2012 - 2022</small></p>
                        <p>I hold a Bachelor's degree in Finance from the University of Plovdiv, completed between 2012 and 2022. During this period, I developed a strong foundation in financial principles, including accounting, economics, and investment strategies. The program also provided me with critical skills in financial analysis, budgeting, and risk management.</p>
                    </div>
                </div>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">C# Web Developer</h5>
                        <p class="mb-2"><strong>Software University</strong> | <small>2019 - 2021</small></p>
                        <p>Throughout C# Full-Stack Developer program, I’ve gained a solid foundation in object-oriented programming (C# OOP) and have developed advanced skills in key frameworks like ASP.NET Core and Entity Framework Core. I’ve also studied MS SQL and JavaScript applications, enabling me to work across both the frontend and backend. In 2023, I deepened my knowledge of data structures, while in 2024, I focused on cloud technologies and DevOps, enhancing my expertise in modern software development practices. This diverse curriculum has equipped me to handle full-stack development and cloud-based solutions effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">My Expericence</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Fullstack Developer</h5>
                        <p class="mb-2"><strong>SoftUni BootCamp Internship</strong> | <small>2022 January-April</small></p>
                        <p>
                            Collaborated with a team of 10 students and a mentor, using Git source control system and applying SCRUM methodology. Throughout the bootcamp we are gaining real practical experience by completing both Backend and Frontend tasks divided in sub-teams. Also we've had the chance to get familiar and apply various Azure services. We've developed various Soft skills such as: Communication; Adaptability; Problem-Solving; Teamwork. The tech stack includes: ASP.NET Core Web API; Azure App Services; Email Sender; SQL Server; Repository Pattern; React JS; HTML & CSS.
                        </p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Software Engineer</h5>
                        <p class="mb-2"><strong>eLando AD</strong> | <small>2022 May - Present</small></p>
                        <p>As a .NET Developer at Euroins project since July 2022, I've been leading the development of a Self Service Portal designed to enhance customer satisfaction by automating policy issuance and managing high traffic volumes. I’ve built and integrated backend services and APIs using C#, ASP.Net Core, and PostgreSQL, ensuring seamless functionality across microservices. I also managed cloud deployments with Docker and Kubernetes, which helped optimize scalability and system performance. By conducting thorough testing and debugging, I ensured that the portal remained reliable and efficient.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}