<section class="container-fluid py-5" id="skill">
    <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
        <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
    </div>
    <div class="tech-menu-container container">
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/javascript_logo.svg" alt="">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/react.svg" alt="">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/html.png" alt="">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/css3.svg" alt="">
            </div>
        </div>
    </div>

    <div class="tech-menu-container container">
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/csharp.svg" alt="">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/dotnet.svg" alt="">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/mssql.svg" alt="">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/redis-original.svg" alt="">
            </div>
        </div>
    </div>

    <div class="tech-menu-container container">
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/docker.svg" alt="">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/kubernetes.png" alt="">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/azure_logo.svg" alt="">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/git.svg" alt="">
            </div>
        </div>
    </div>
</section>


@code {

}
