<section class="container-fluid py-5" id="skill">
    <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
        <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
    </div>
    <div class="tech-menu-container container">
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/javascript_logo.svg" alt="javascript">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/react.svg" alt="react">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/html.png" alt="html">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/css3.svg" alt="css3">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/blazor.svg" alt="csharp">
            </div>
        </div>
    </div>

    <div class="tech-menu-container container">
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/csharp.svg" alt="kibana">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/dotnet.svg" alt="dotnet">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/postgres-sql.png" alt="postgres sql">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/mssql.svg" alt="mssql">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/redis-original.svg" alt="redis">
            </div>
        </div>
    </div>

    <div class="tech-menu-container container">
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/azure_logo.svg" alt="azure">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/docker.svg" alt="docker">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/kubernetes.svg" alt="azure">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/kibana.jpg" alt="docker">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/terraform.svg" alt="git">
            </div>
        </div>
    </div>

    <div class="tech-menu-container container">
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/git.svg" alt="git">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/github.svg" alt="jira">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/jira.png" alt="jira">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/sendgrid.svg" alt="kubernetes">
            </div>
        </div>
        <div class="tech-menu-item">
            <div class="food-image">
                <img src="./images/skills/postman.svg" alt="azure">
            </div>
        </div>
    </div>
</section>


@code {

}
