<div class="container-fluid bg-primary text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="container text-center py-5">
        @if (property is null)
        {
            <div style="display: flex; justify-content: center; gap: 2.5rem;">
                <p><em>Loading...</em></p>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-center mb-4">
                <a class="btn btn-light btn-social mr-2" href="mailto:@(property.Email)"><i class="fa-solid fa-envelope"></i></a>
                <a class="btn btn-light btn-social mr-2" href="https://github.com/@(property.GitHub)" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                @*<a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>*@
                <a class="btn btn-light btn-social mr-2" href="https://linkedin.com/in/@(property.LinkedIn)" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-light btn-social" href="https://instagram.com/@(property.Instagram)" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
            </div>
            @* <div class="d-flex justify-content-center mb-3">
        <a class="text-white" href="#">Privacy</a>
        <span class="px-3">|</span>
        <a class="text-white" href="#">Terms</a>
        <span class="px-3">|</span>
        <a class="text-white" href="#">FAQs</a>
        <span class="px-3">|</span>
        <a class="text-white" href="#">Help</a>
        </div>*@
            <p class="m-0">
                &copy; <a class="text-white font-weight-bold" href="#">Domain Name</a>. All Rights Reserved. Designed by <span class="text-white font-weight-bold">@property.Name</span>
            </p>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    private SiteProperties? property;
    private SocialIcons? icons;

    protected override async Task OnInitializedAsync()
    {
        property = await Http.GetFromJsonAsync<SiteProperties>("sample-data/siteproperties.json");
        icons = await Http.GetFromJsonAsync<SocialIcons>("sample-data/socialicons.json");
    }
}